
body{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0px;
}

#container{
	background: black;
	display: flex;
	box-sizing: border-box;
	height: 100vh;
	/*border: solid 10px black;*/
	/*position: relative;*/
	justify-content: center;
	align-items: center;
}

.loading{
	width: auto;
	height: 100%;
}

#start_sim{
	position: fixed;
	top: 45%;
	left: 50%;
	/*transform: translate(0, 50%);*/
	transform: translate(-50%, 0);
	color: white;
	font-size: 70px;
	border: solid white 4px;
	padding: 10px;
}

#meni{
	display: none;
	flex-wrap: wrap;
	flex-direction: column;
	background: rgb(255,255,255,0.2);
	position: fixed;
	height: 100%;
}

#finished{
	display: none;
	flex-wrap: wrap;
	flex-direction: column;
	background: rgb(255,255,255,0.2);
	position: fixed;
	height: 100%;
}

#details{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	/*background: rgb(255,255,255,0.2);*/
	position: fixed;
	right: 10px;
	color: white;
	border-radius: 10px;
	height: 100%;
	justify-content: center;
}

.det_class{
	background: rgb(70,70,70,0.6);
	padding: 10px;
	text-align: center;
	border: solid 1px black;
	border-radius: 10px;
	max-width: 20vw;
	font-size: 110%;

}

.meni_btns{
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	height: 40px;
	font-size: 90%;
}

#btn_create{
	background:#84e39d;
	border: solid 1px black;
	border-radius: 5px;
}

#btn_create_star{
	background: #dbe36b;
	border: solid 1px black;
	border-radius: 5px;
}

#btn_finished{
	background: #6bbde3;
	border: solid 1px black;
	border-radius: 5px;
}

#create_planet{
	display: none;
	background: rgb(255,255,255,0.2);
	position: fixed;
	height: 100%;
	width: auto;
	padding-top: 40px;
}

.create_btns{
	text-align: center;
	font-size: 90%;
	height: 20px;
	margin: 15px;
	margin-bottom: 20px;
	width: 150px;
}

#shine_text{
	font-size: 20px;
	color: white;
	margin-left: 20px;
}

#shine{
	margin-left: 30px;
	height: 20px;
	width: 20px;
}

#done{
	width: 70px;
	margin: 10px;
	margin-top: 30px;
	font-size: 90%;
	height: 30px;
}

#cancle{
	width: 70px;
	margin: 10px;
	margin-top: 30px;
	font-size: 90%;
	height: 30px;
}


#btn_meni{
	position: fixed;
	margin: 30px;
	width: 70px;
	height: 30px;
}

.loading{
	z-index: 10;
}

/*Navigation bar:*/

#navigation{
	display: flex;
	position: fixed;
	bottom: 10px;
	/*background-color: red;*/
	flex-direction: row;
	width: 100%;
	margin: 10px;
	justify-content: center;
	align-items: center;
}

.nav_btn{
	font-size: 110%;
	margin: 10px;
	height: 40px;
	width: 40px;
}

.gg-play-button-r {
	margin: 10px;
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1.5));
    width: 22px;
    height: 22px;
    border: 2px solid;
    border-radius: 4px
}

.gg-play-pause-r {
	margin: 10px;
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1.5));
    width: 22px;
    height: 22px;
    border: 2px solid;
    border-radius: 4px
}

.gg-play-track-next-r {
	margin: 10px;
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1.5));
    width: 22px;
    height: 22px;
    border: 2px solid;
    border-radius: 4px
}

.gg-play-track-prev-r {
	margin: 10px;
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1.5));
    width: 22px;
    height: 22px;
    border: 2px solid;
    border-radius: 4px
}

#speed_btn{
	font-size: 12px;
	margin: 10px;
	margin-left: 20px;
	/*box-sizing: border-box;*/
    /*position: relative;*/
    display: block;
    transform: scale(var(--ggs,1.5));
    width: 40px;
    height: 22px;
    border: 2px solid;
    border-radius: 4px
}

#trail_btn{
	background-color: #86f7a4;
	font-size: 12px;
	margin: 10px;
	margin-right: 20px;
	/*box-sizing: border-box;*/
    /*position: relative;*/
    display: block;
    transform: scale(var(--ggs,1.5));
    width: 35px;
    height: 22px;
    border: 2px solid;
    border-radius: 4px

}

#delete_btn{
	color: #c2c2c2;
	position: absolute;
	right: 5%;
	font-size: 12px;
	margin: 10px;
	margin-left: 30px;
	/*box-sizing: border-box;*/
    /*position: relative;*/
    display: block;
    transform: scale(var(--ggs,1.5));
    height: 22px;
    border: 2px black solid;
    border-radius: 4px
}


/*///////////////////////////////*/